@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@using KKday.B2D.Web.InternAgent.AppCode

@inject IViewLocalizer Localizer
@{
    Layout = "_KKdayLayout";
    ViewData["Title"] = Localizer["Search_Title"].Value;

    var locale = CultureInfo.CurrentCulture;
}
@section Styles {
    <link rel="stylesheet" href="~/css/kkday_search.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/kkday_search.css" />
    <link rel="stylesheet" href="~/lib/ion-rangeSlider/css/ion.rangeSlider.min.css" />
    <link rel="stylesheet" href="~/lib/jquery-daterangepicker/daterangepicker-bs3.css" />
    <link rel="stylesheet" href="~/lib/jquery-daterangepicker/daterangepicker.css" />

    <style type="text/css">
        .modal-backdrop {
            z-index: 1;
        }

        .input-group2 {
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-align: stretch;
            -ms-flex-align: stretch;
            align-items: stretch;
            width: 100%;
        }

            .input-group2 > .form-control2 {
                position: relative;
                -webkit-box-flex: 1;
                -ms-flex: 1 1 auto;
                flex: 1 1 auto;
                width: 1%;
                margin-bottom: 0;
            }

        .form-control2 {
            display: block;
            width: 100%;
            padding: .375rem .75rem;
            font-size: 1.16rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }

        .input-group-text2 {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding: .375rem .75rem;
            margin-bottom: 0;
            font-size: 1.16rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            text-align: center;
            white-space: nowrap;
            background-color: #e9ecef;
            border: 1px solid #ced4da;
            border-radius: .25rem;
        }

        .irs--flat {
            z-index: 10;
        }

            .irs--flat .irs-handle.state_hover > i:first-child, .irs--flat .irs-handle:hover > i:first-child {
                background-color: #fff;
            }

            .irs--flat .irs-handle > i:first-child {
                left: unset;
                width: 16px;
                background-color: #fff;
                border: 1px solid #ccc;
                border-radius: 8px;
            }

            .irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
                background-color: #f2f2f2;
                color: #333;
                font-size: 13px;
            }

                .irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before {
                    border-top-color: #f2f2f2;
                }

        .calendar-table {
            padding-bottom: 30px;
        }

        .pagination {
            display: flex !important;
        }

        .popup-msg {
            display: block;
            position: fixed;
            padding: 10px;
            width: 320px;
            left: 50%;
            margin-left: -150px;
            height: 160px;
            top: 50%;
            margin-top: -100px;
            background: #FFF;
            z-index: 20;
            border: 1px solid #f2f2f2;
        }
    </style>
}
@section Scripts {
    <script src="~/lib/ion-rangeSlider/js/ion.rangeSlider.min.js"></script>
    <script src="~/js/moment-with-locales.js"></script>
    <script src="~/lib/jquery-daterangepicker/daterangepicker.js"></script>
    <script src="~/js/mitt.umd.min.js"></script>
}


<div id="App">
    <div class="container">
        <!-- Keywords -->
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Where do you want to go?" aria-label="Username" aria-describedby="basic-addon1"
                           v-model="search_key" v-on:keyup.enter="currentPage=1; Query();">
                </div>
            </div>
        </div>

        <!-- Search Result -->
        <div class="row">

            <div class="col-12 m-2 d-block d-sm-none sm-filter">

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#filterModal">
                    <i class="fa fa-filter" aria-hidden="true"></i> Filter
                </button>

                <!-- Modal -->
                <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" style="font-size:18px; font-weight:bold;">Filter Condition</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body"></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                @*<button type="button" class="btn btn-primary" onclick="UpdateFilter();"> OK </button>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- filter -->
            <div class="col-3 d-none d-sm-block filter">
                <div class="filter-container">
                    <div class="filter-group">
                        <!-- destination filter -->
                        <div class="filter-box">
                            <h4 class="collapsable collapsed">
                                @Localizer["Destination"]
                            </h4>

                            <div v-for="dest in facets.destination">
                                <div :value="dest.code" class="drop-title">
                                    <div>
                                        <i class="ri-lg" :class="{'ri-checkbox-blank-line': !dest.checked, 'ri-checkbox-fill': dest.checked}" @@click.stop="destinationCheck(dest)"></i>
                                        {{ dest.name }}
                                        <div class="pull-right" v-if="dest?.children" @@click.stop="destinationToggle(dest)">
                                            <i :class="{'ri-arrow-down-s-line': !dest.open, 'ri-arrow-up-s-line': dest.open }"></i>
                                        </div>

                                        <div v-show="dest.open" style="margin-left: 20px;">
                                            <!-- Select/Unselect all sub destination -->
                                            <div class="drop-item">
                                                <i class="ri-lg" :class="{'ri-checkbox-blank-line': !dest.select_all, 'ri-checkbox-fill': dest.select_all}" @@click.stop="destinationCheckAll(dest)"></i>
                                                <span class="checkbox-title">@Localizer["All"]</span>
                                            </div>

                                            <div class="drop-item" v-for="sub_dest in dest?.children">
                                                <div>
                                                    <i class="ri-lg" :class="{'ri-checkbox-blank-line': !sub_dest.checked, 'ri-checkbox-fill': sub_dest.checked}" @@click="destinationCheck(sub_dest)"></i>
                                                    <span>{{ sub_dest.name }}</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- category filter -->
                        <div class="filter-box">
                            <h4>
                                @Localizer["All_Categories"]
                            </h4>

                            <div v-for="cate in facets.category">
                                <div :value="cate.code" class="drop-title">
                                    <div>
                                        <i class="ri-lg" :class="{'ri-checkbox-blank-line': !cate.checked, 'ri-checkbox-fill': cate.checked}" @@click.stop="categoryCheck(cate)"></i>
                                        {{ cate.name }}
                                        <div class="pull-right" v-if="cate?.children" @@click.stop="categoryToggle(cate)">
                                            <i :class="{'ri-arrow-down-s-line': !cate.open, 'ri-arrow-up-s-line': cate.open }"></i>
                                        </div>

                                        <div v-show="cate.open" style="margin-left: 15px;">
                                            <!-- Select/Unselect all sub categories -->
                                            <div class="drop-item">
                                                <i class="ri-lg" :class="{'ri-checkbox-blank-line': !cate.select_all, 'ri-checkbox-fill': cate.select_all}" @@click.stop="categoryCheckAll(cate)"></i>
                                                <span class="checkbox-title">@Localizer["All"]</span>
                                            </div>

                                            <template v-for="sub_cate in cate?.children">
                                                <div class="drop-item">
                                                    <i class="ri-lg" :class="{'ri-checkbox-blank-line': !sub_cate.checked, 'ri-checkbox-fill': sub_cate.checked}" @@click.stop="categoryCheck(sub_cate)"></i>
                                                    <span v-html="sub_cate.name"></span>
                                                    <div class="pull-right" v-if="sub_cate?.children" @@click.stop="categoryToggle(sub_cate)">
                                                        <i :class="{'ri-arrow-down-s-line': !sub_cate.open, 'ri-arrow-up-s-line': sub_cate.open }"></i>
                                                    </div>
                                                    <div class="clearfix"></div>

                                                    <div v-show="sub_cate.open" style="margin-left: 15px;">
                                                        <div class="sub-drop-item">
                                                            <!-- Select/Unselect all next-level sub categories -->
                                                            <i class="ri-lg" :class="{'ri-checkbox-blank-line': !sub_cate.select_all, 'ri-checkbox-fill': sub_cate.select_all}" @@click.stop="categoryCheckAll(sub_cate)"></i>
                                                            <span class="checkbox-title">@Localizer["All"]</span>
                                                        </div>

                                                        <div v-for="sub3_cate in sub_cate?.children" class="sub-drop-item">
                                                            <i class="ri-lg" :class="{'ri-checkbox-blank-line': !sub3_cate.checked, 'ri-checkbox-fill': sub3_cate.checked}" @@click="categoryCheck(sub3_cate)"></i>
                                                            <span>{{ sub3_cate.name }}</span>
                                                        </div>

                                                    </div>
                                                </div>

                                            </template>
                                        </div>

                                    </div>
                                    <div class="clearfix"></div>

                                </div>
                            </div>

                        </div>

                        <div class="filter-box">
                            <h4 v-cloak>@Localizer["Price_Range"] ({{currency}})</h4>
                            <div>
                                <input v-cloak type="text" id="js-range-slider" name="range" data-min="{{stats.price.min}}"
                                       data-max="{{stats.price.max}}" data-from="{{stats.price.min}}"
                                       data-to="{{stats.price.max}}" @@change="rangeChanged"/>
                            </div>
                        </div>

                        <div class="filter-box">
                            <h4 class="collapsable" @@click.stop="show_duration=!show_duration">
                                @Localizer["Journey_Time"]
                                <i class="fa fa-caret-up pull-right" v-if="show_duration"></i>
                                <i class="fa fa-caret-down pull-right" v-if="!show_duration"></i>
                            </h4>
                            <ul class="filter-list collapse in" v-if="show_duration">
                                <li class="checkbox" @@click.stop="durations[0].checked=!durations[0].checked; Query();">
                                    <i class="ri-lg" :class="{'ri-checkbox-blank-line': !durations[0].checked, 'ri-checkbox-fill': durations[0].checked }"></i>
                                    <span data-val="time|8h" class="checkbox-title">@Localizer["Journey_Time_0h_8h"]</span>
                                </li>
                                <li class="checkbox" @@click.stop="durations[1].checked=!durations[1].checked; Query();">
                                    <i class="ri-lg" :class="{'ri-checkbox-blank-line': !durations[1].checked, 'ri-checkbox-fill': durations[1].checked }"></i>
                                    <span data-val="time|1d" class="checkbox-title">@Localizer["Journey_Time_8h_1d"]</span>
                                </li>
                                <li class="checkbox" @@click.stop="durations[2].checked=!durations[2].checked; Query();">
                                    <i class="ri-lg" :class="{'ri-checkbox-blank-line': !durations[2].checked, 'ri-checkbox-fill': durations[2].checked }"></i>
                                    <span data-val="time|2d" class="checkbox-title">@Localizer["Journey_Time_1d_2d"]</span>
                                </li>
                                <li class="checkbox" @@click.stop="durations[3].checked=!durations[3].checked; Query();">
                                    <i class="ri-lg" :class="{'ri-checkbox-blank-line': !durations[3].checked, 'ri-checkbox-fill': durations[3].checked }"></i>
                                    <span data-val="time|*" class="checkbox-title">@Localizer["Journey_Time_2d_more"]</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- product-list -->
            <div class="col-md-9 product-list">
                <div class="board product-result mb-0 result-board">
                    <tag-section></tag-section>
                    <div class="d-flex flex-row">
                        <h4>
                            <span class="text-primary">
                                {{ totalRows }}
                            </span>
                            @Localizer["ExperienceFound"]
                        </h4>
                        <div class="ms-auto">
                            <b-form-select v-model="sorting" :options="sort_options" @@change="sortChanged" class="form-control"></b-form-select>
                        </div>
                    </div>
                </div>
                <template v-for="pd in prods">
                    <div class="product-listview search-info">
                        <a :id="`product-card-${pd.prd_no}`" :href="`${_root_path}Product/${pd.prod_no}`" target="_blank" rel="noopener">
                            <div class="row">
                                <div class="col-sm-5 col-lg-4">
                                    <div class="img-bg" lazy="loaded" :style="{ backgroundImage: 'url(' + pd.prod_img_url + ')' }"></div>
                                </div>
                                <div class="col-sm-7 col-lg-8">
                                    <div class="product-detail">
                                        <div class="card-point">
                                            <span class="label label-warning mr-5" v-if="pd.instant_booking"> @Localizer["Instant_Confirm"] </span>
                                        </div>
                                        <h3 v-html="pd.prod_name"></h3>
                                        <p class="description" v-html="pd.introduction"></p>
                                        <div class="product-place">
                                            <i class="fa fa-map-marker"></i>

                                        </div>
                                        <div class="product-footer">
                                            <div class="product-star"></div>
                                            <span class="divider"></span>
                                            <div class="product-pricing">
                                                <div class="origin-price"> @Localizer["Original_Price"] {{ pd.b2c_price }}</div>
                                                <span v-html="currency"></span> <h4 class="text-primary" v-html="pd.b2b_price"></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </template>
                <div class="product-listview search-info" v-if="prods.length < 1">
                    <div class="row">
                        <div class="col-12 p-5">
                            @Localizer["No_Matched_Product"]
                        </div>
                    </div>
                </div>

                <!-- Pagination -->
                <div class="overflow-auto" v-if="prods.length > 0">
                    <b-pagination v-model="currentPage" @@change="Query()"
                                  :total-rows="totalRows"
                                  :per-page="perPage"
                                  :limit="limit"
                                  align="center" size="lg"></b-pagination>
                    <p class="mt-3" v-html="`@Localizer["Current_Page"]: ${currentPage}`"></p>
                </div>

            </div>
        </div>

    </div>

    <!-- Loading Popup -->
    <div class="popup-msg" id="popup1" v-show="isLoading">
        <div class="row align-items-center h-100">
            <div class="col-6 mx-auto">
                <img id="loading" src="@Url.Content("~/images/loading-spin.gif")" style="width: 32px;" />
                @Localizer["Search_Loading"]
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    const emitter = mitt();

    $(function () {
        $('#js-range-slider').ionRangeSlider({
            type: "double",
            grid: false,
            prettify_separator: ",",
            min: 0,
            max: 0
        });
    })

    let app = new Vue({
        el: '#App',
        data() {
            return {
                load_once: true,
                currentPage: 1,
                totalRows: 0,
                perPage: 25,
                limit: 8,
                isLoading: false,
                locale: '@locale',
                price_range: { min: null, max: null },
                currency: '@Localizer[Website.Instance.Currency]',
                sliderVal: null,
                show: true,
                facets: {},
                stats: {},
                prods: [],
                show_duration: true,
                durations: [
                    { time: "0,8", checked: false }, { time: "8,24", checked: false },
                    { time: "24,48", checked: false }, { time: "72,*", checked: false }
                ],
                search_key: '',
                sel_destination: [],
                sel_categories: [],
                sorting: null,
                sort_options: [
                    { value: null, text: "KKday Recommended" },
                    { value: "PDESC", text: "Price - High to Low" },
                    { value: "PASC", text: "Price - Low to High" },
                    { value: "HDESC", text: "Popularity - High to Low" },
                    { value: "SDESC", text: "Average Rating Star - High to Low)" }
                ]
            }
        },
        watch: {
            sel_destination: function (val) { 
                this.currentPage = 1;
                this.Query();
            },
            sel_categories: function (val) {
                this.currentPage = 1;
                this.Query();
            }
        },
        created: function () {
            var search_key = location.search.split('key=')[1];
            if (search_key) {
                this.search_key = decodeURIComponent(search_key);
                history.pushState(null, null, location.href.split('?')[0]);
            }

            this.Query();
        },
        methods: {
            Query() {
                if (this.isLoading) return;

                this.isLoading = true;
                setTimeout(() => {
                    this.Fetch();
                }, 200)
            },
            Fetch() {
                let vm = this;
                let req = {
                    key: this.search_key, page: this.currentPage, size: this.perPage,
                    durations: this.durations.filter(d => d.checked).map(d => d.time)
                };

                if (this.sorting) req.sort = this.sorting;
                if (this.sel_destination.length) req.destination = this.sel_destination.map(dt => dt.code);
                if (this.sel_categories.length) req.product_categories = this.sel_categories.map(st => st.code);

                if (!this.load_once) {
                    var slider = $("#js-range-slider").data("ionRangeSlider");
                    if (slider.result.from && slider.result.to) {
                        req.price_from = parseFloat(slider.result.from);
                        req.price_to = parseFloat(slider.result.to);
                    }
                }

                console.log(`Fetch Req => ${JSON.stringify(req)}`);
                let uri = `${_root_path}Search/Query`;
                fetch(uri, {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(req)
                    })
                    .then(response => {
                        // console.log(response.status);
                        return response.json()
                    })
                    .then(result => {
                        console.log(`${JSON.stringify(result)}`);
                        if (result.data) {
                            this.totalRows = result.data.metadata.total_count;
                            this.prods = result.data.prods;
                            console.log(`Fetch => totalRows:${this.totalRows}, product.len:${this.prods.length}`)

                            if (this.load_once) {
                                
                                // #region Destination

                                const extendDestinationFields = (destination) => destination.map(dest => {
                                    // 1. Check if the `children` property exists and is not empty
                                    const hasChildren = dest.children && Array.isArray(dest.children) && dest.children.length > 0;

                                    // 2. Process child nodes (if any exist)
                                    const processedChildren = hasChildren ? extendDestinationFields(dest.children) : undefined;
                                    return {
                                        ...dest,
                                        ...(hasChildren && { open: false,  select_all: false,  checked: false }),
                                        ...(!hasChildren && { checked: false }),
                                        ...(processedChildren && { children: processedChildren })
                                    }
                                });
                                result.data.facets.destination = extendDestinationFields(result.data.facets?.destination);
                                
                                // #endregion Destination
                                
                                // #region Category 
                                
                                const extendCategoryFields = (categories) => categories.map(category => {
                                    // 1. Check if the `children` property exists and is not empty
                                    const hasChildren = category.children && Array.isArray(category.children) && category.children.length > 0;

                                    // 2. Process child nodes (if any exist)
                                    const processedChildren = hasChildren ? extendCategoryFields(category.children) : undefined;
                                    return {
                                        ...category,
                                        ...(hasChildren && { open: false,  select_all: false,  checked: false }),
                                        ...(!hasChildren && { checked: false }),
                                        ...(processedChildren && { children: processedChildren })
                                    }
                                }); 
                                result.data.facets.category = extendCategoryFields(result.data.facets?.category);
                                
                                this.facets = result.data.facets;
                                console.log(`Facets: ${JSON.stringify(this.facets)}`);

                                // #endregion Category 
                                
                                // this.stats = result.data.stats;
                                // let range = $("#js-range-slider").data("ionRangeSlider");
                                // if (range) {
                                //     range.update({
                                //         min: this.stats.price.min, max: this.stats.price.max,
                                //         from: this.stats.price.min, to: this.stats.price.max
                                //     });
                                // }
                                //
                                // $("#js-range-slider").on('change', function () {
                                //     vm.rangeChanged(this.value);
                                // });

                                this.load_once = false;
                            }
                        }
                        else {
                            this.facets = {};
                            this.prods = [];
                            this.totalRows = 0;
                            
                            // this.stats = {};
                            // let range = $("#js-range-slider").data("ionRangeSlider");
                            // if (range) {
                            //     range.update({ min: 0, max: 0});
                            // }
                            
                            this.load_once = true;
                        }

                        this.isLoading = false;
                    })
                    .catch(error => { console.error('Unable to search.', error); this.isLoading = false });

            },
            destinationToggle(dest){
                dest.open = !dest.open;
            },
            destinationCheck(dest){
                // console.log(`Destination Check =>${JSON.stringify(dest)}`);
                dest.checked = !dest.checked;
                dest.select_all = dest.checked; 
                this.destinationSelecting(dest, dest.select_all);
            },
            destinationCheckAll(dest) {
                // console.log(`Destination CheckAll =>${JSON.stringify(dest)}`);
                dest.select_all = !dest.select_all;
                this.destinationSelecting(dest, dest.select_all);
            },
            destinationSelecting(dest, isSelectAll) {
                dest.children = this.traversalAllNodes(dest?.children, isSelectAll);
                // console.log(`Selected Destination =>${JSON.stringify(dest)}`);
                this.sel_destination = [...this.getCheckedNodes(this.facets.destination)];
            },
            unselectDestination(code) {
                this.uncheckNodeByCode(this.facets.destination, code);
                this.sel_destination = this.sel_destination.filter(node =>
                    node.code !== code
                );
            },
            categoryToggle(category) {
                // console.log(`Category Toggle =>${JSON.stringify(category)}`)
                category.open = !category.open; 
            },
            categoryCheck(category) {
                // console.log(`Category Check =>${JSON.stringify(category)}`);
                category.checked = !category.checked;
                category.select_all = category.checked; 
                this.categorySelecting(category, category.select_all);
            },
            categoryCheckAll(category) {
                // console.log(`Category CheckAll =>${JSON.stringify(category)}`);
                category.select_all = !category.select_all;
                this.categorySelecting(category, category.select_all);
            },
            categorySelecting(category, isSelectAll) {
                category.children = this.traversalAllNodes(category?.children, isSelectAll);
                // console.log(`Selected Category =>${JSON.stringify(category)}`);
                this.sel_categories = [...this.getCheckedNodes(this.facets.category)];                
            },
            unselectCategory(code) {
                this.uncheckNodeByCode(this.facets.category, code);
                this.sel_categories = this.sel_categories.filter(node =>
                    node.code !== code
                );
            },
            resetAllTags() {
                this.facets.destination = this.traversalAllNodes(this.facets?.destination, false);
                this.sel_destination = [];
                
                this.facets.category = this.traversalAllNodes(this.facets?.category, false);
                this.sel_categories = [];
            },
            traversalAllNodes(source, isSelectAll) {
                const traversal = (nodes) => nodes?.map(item => ({
                    ...item,
                    // 1. Determine checked by 'isChecked'
                    checked: isSelectAll,
                    select_all: isSelectAll,
                    // 2. Use the ternary operator to check and recursively handle children.
                    children: (item.children && Array.isArray(item.children))
                        ? traversal(item.children) // Any children, recursively processed
                        : undefined // No children，set to undefined (the propeerty will not be added or overwritten)
                }));
                
                return traversal(source);
            },
            getCheckedNodes(source) {
                const getCheckedNodes = (nodes, checkedNodes = []) => { 
                    // Ensure that the categories exist and are arrays.
                    if (!nodes || !Array.isArray(nodes)) {
                        return checkedNodes;
                    }
                    // Traverse the nodes at the current level
                    nodes.forEach(item => {
                        // 1. Check if the current node is selected.
                        if (item.checked === true) { 
                            checkedNodes.push({ code: item.code, name: item.name });
                        }

                        // 2. Recursively process child nodes
                        // Use the ternary operator to check if children exist and concatenate them into an array
                        (item.children && Array.isArray(item.children))
                            ? getCheckedNodes(item.children, checkedNodes) // Recursively use the same cumulative array
                            : null; // End recursion
                    });

                    return checkedNodes;
                };
                
                return getCheckedNodes(source);
            },
            uncheckNodeByCode(source, targetCode) {
                const uncheckNodeByCode = (nodes, checkedNodes = []) => {
                    // Ensure that the categories exist and are arrays.
                    if (!nodes || !Array.isArray(nodes)) {
                        return checkedNodes;
                    }
                    // Traverse the nodes at the current level
                    nodes.forEach(item => {
                        // 1. Check if the current node is selected.
                        if (item.code === targetCode) {
                            item.checked = false;
                            return true; // The target is found, immediately return and stop recursion.
                        }
                        // 2. Recursively process child nodes 
                        if (item.children && Array.isArray(item.children)) {
                            // The target is found, immediately return and stop recursion.
                            if (uncheckNodeByCode(item.children, targetCode)) {
                                return true;
                            }
                        }
                    });
                };

                return uncheckNodeByCode(source, targetCode);
            },
            rangeChanged(val) {
                this.currentPage = 1;
                this.Query();
            },
            sortChanged() {
                this.currentPage = 1;
                this.Query();
            }
        },
        mounted: function () {
            emitter.on('reset-all-tags', (data) => {
                this.resetAllTags();
            });

            emitter.on('unselect-destination', (data) => {
                this.unselectDestination(data);
            });

            emitter.on('unselect-category', (data) => {
                this.unselectCategory(data);
            });
        }
    });

    Vue.component('tag-section', {
        data: function () {
             return {

            }
        },
        template: `
    <div v-if="this.$parent.sel_destination.length || this.$parent.sel_categories.length">
        <span class="chip" v-for="dest in this.$parent.sel_destination"><a>{{dest.name}}</a> <span class="delete-chip" @@click.stop="unselectDestination(dest.code)">✕</span></span>
        <span class="chip" v-for="cat in this.$parent.sel_categories"><a>{{cat.name}}</a> <span class="delete-chip" @@click.stop="unselectCategory(cat.code)">✕</span></span>
        <span class="chip clearall"><a href="javascript:;" @@click="resetAllTags()">清除所有</a></span>
    </div>
    `,
         created: function () {

         },
         methods: {
             unselectDestination(code) {
                 emitter.emit('unselect-destination', code);
             },
             unselectCategory(code) {
                 emitter.emit('unselect-category', code);
             },
             resetAllTags() {
                 emitter.emit('reset-all-tags');
             }
         }
    });

    Vue.component('category-section', {
        data: function () {
            return {

            }
        },
        template: `
    <span v-if="this.$parent.sel_categories.length">
        <span class="chip" v-for="cat in this.$parent.sel_categories"><a>{{cat.name}}</a> <span class="delete-chip" @@click.stop="unselectCategory(cat.code)">✕</span></span>
        <span class="chip clearall"><a href="javascript:;" @@click="resetAllCategories()">清除所有</a></span>
    </span>`,
        created: function () {

        },
        methods: {
            unselectCategory(id) {
                emitter.emit('unselect-tag', id);
            },
            resetAllCategories() {
                emitter.emit('reset-all-tags');
            }
        }
    });
</script>
